@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.background {
    background-image: linear-gradient(transparent, rgba(98, 175, 101, 0.5)), url("img/earth\ background.jpg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -100;
}
.top-part-thing {
    width: 100%;
    margin: 0;
    overflow: hidden; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    color: #c9c9c9;
}
a {
    background: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 500ms, color 500ms;
    margin: 10px;
    padding: 1em;
    padding-inline: 20px;
    display: inline-block;
    border: 2px white solid;
    width: 7em;
    text-align: center;
}
a:hover {
    background-size: 100% 100%;
    color: black;
}
.middle-part-thing {
    margin-top: 20px;
    background: white;
}
.middle-part-thing * {
    text-align: center;
}
.middle-part-thing h2 {
    color: black;
}
h3 {
    color: darkolivegreen;
}
.middle-part-thing p {
    margin-top: 5px;
    margin-inline: 30px;
    color: #303030;
}
.highlights-on-environmental-study {
    margin-block: 30px;
    background-image: linear-gradient(transparent, rgba(98, 175, 101, 0.5), transparent);
}
.disaster p {
    color: #303030;
    margin-top: 10px;
}
.disaster {
    display: flex;
    align-items: center;
    margin-inline: 50px;
}
.disaster > div {
    flex-basis: 60%;
    margin-right: 50px;
}
.disaster > div * {
    text-align: center;
}
.disaster img {
    flex-basis: 40%;
    border-radius: 40px;
    padding: 30px;
    width: 200px;
    height: 200px;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    object-fit: cover;
}
.disaster svg {
    border: 2px darkolivegreen solid;
    padding: 3px;
    border-radius: 5px;
    transform: translateY(7px);
}
.disaster svg * {
    color: darkolivegreen;
}
.impacts-on-environment > h2 {
    color: darkolivegreen;
    text-align: center;
    margin-bottom: 2rem;
}
.impacts-on-environment .card {
    width: 25rem;
    height: 15rem;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}
.impacts-on-environment .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.impacts-on-environment .card > .content {
    position: absolute;
    color: white;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 150%);
    transition: all 500ms;
    width: 100%;
}
.impacts-on-environment .card:hover > .content{
    transform: translate(-50%, -50%);
}

.impacts-on-environment .card > .content > .title {
    font-weight: bold;
    text-align: center;
}
.impacts-on-environment .card > .content > * {
    text-align: center;
    width: 100%;
}
.impacts-on-environment > .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}
