@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --accent-color:#a82828;
    --secondary-color:#f83c3c;
    --hover-color: #be2525;
    --shadow-color: rgba(221,50,50,0.6);
    --text-color: white;
    --gradient:linear-gradient(45deg, var(--accent-color),var(--secondary-color));
}


button{
    /* background-color: var(--accent-color); */
    background-image: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-size: 200%;
    background-position: left;
    color: var(--text-color);
    font-size: 1.1em;
    padding: 1.25rem;
    border-radius: 0.7rem;
    border: 0;
    /* transition: background-color 500ms, box-shadow 500ms, transform 100ms; */
    transition: background-position 500ms, box-shadow 500ms, transform 100ms;
    box-shadow: 0px 15px 40px -8px var(--shadow-color);
    text-transform: uppercase;
}
button:hover{
    /* background-color: var(--hover-color); */
    transition-timing-function: linear, cubic-bezier(0.07, 2.03, 0, 0.97), linear;
    background-position: right;
    transform:scale(1.01,1.01);
    box-shadow: 0px 12px 49px 3px var(--shadow-color);
}
button:active{
    transform:scale(0.97,0.97);
}
body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
}
nav > * {
    margin: 20px;
    background-image: linear-gradient(90deg, red, purple);
    background-position: center bottom;
    background-size: 0 3px;
    background-repeat: no-repeat;
    padding: 10px;
    transition: background-size 200ms;
    text-decoration: none;
    color: black;
}
nav > *:hover {
    background-size: 100% 3px;
    cursor: pointer;
}

.profile {
    margin-top: 50px;
    text-align: center;
}
.section-heading {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}
.profile img {
    border-radius: 50%;
    border: white 5px solid;
    box-shadow: 0px 0px 71px 0px rgba(0,0,0,0.75);
    width: 10rem;
}
.background-image {
    position: absolute;
    top: 0;
    z-index: -10;
    background-image: url("./img/background photo.jpg");
    background-position: center center;
    object-fit: cover;
    width: 100%;
    height: 275px;
}
#about {
    margin-top: 15px;
    text-align: center;
    margin-inline: 200px;
}

#about > .rust {
    font-weight: bolder;
}


#skills {
    text-align: center;
    margin-top: 20px;
}
.skills-grid{
    margin-inline: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
}

.skill-bar {
    --percentage: 50%;
    --skill-name: 'coding';
    display: grid;
    grid-template-columns: var(--percentage) auto;
    height: 30px;
    line-height: 25px;
}

.skill-name-sport {
    --percentage: 15%;
    --skill-name: 'sport';
}
.skill-name-gaming {
    --percentage: 70%;
    --skill-name: 'gaming';
}
.skill-name-typing {
    --percentage: 80%;
    --skill-name: 'typing';
}
.skill-bar::before {
    content: var(--skill-name);
    background: #ebcb8b;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
    text-align: left;
}
.skill-bar::after {
    content: '';
    background: #3b4252;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

#favourites {
    text-align: center;
    margin-top: 30px;
}
#favourites > .section-heading > svg {
    transform: translateY(4px);
}
.favourites-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-template-rows: 1fr 1fr;
    margin-inline: 50px;
    row-gap: 20px;
}
.favourites-grid > img {
    width: 80%;
    margin: auto;
}
.favourites-text-1 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favourites-text-1 > div {
    margin: 0;
    margin-bottom: 10px;
}
#education > img {
    margin-bottom: 15px;
}
#education {
    margin-bottom: 30px;
}
.portofolio-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width: 750px;
    height: 500px;
    overflow: hidden;
}
button div {
    overflow: hidden;
    height: 100%;
}
button img {
    width: 700px;
}
